

.pages-about-container h2 {
  font-size: 2em;
  color: #002D73;
  font-weight: bold;
  margin-bottom: 20px;
}

.pages-about-container p {
  font-size: 1em;
  color: #333;
  line-height: 1.5;
  margin-bottom: 10px;
}


.div-1 {
  flex: 0 0 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 30px!important;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400;

  & ul {
    color: #002D73;
  }
}


.div-2-0 {
  flex: 0 0 30%;
  background-color: #f9f9f9;
  padding-top: 20px;
  border-radius: 30px!important;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 380px;
}


.div-2-1 {
  gap: 20px;
  background-color: #f9f9f9;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 30px!important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  width: 360px;
  & img {
    border-radius: 30px;
  }
}


.team-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
