// SMALL CARD FOR CATEGORIES

.policy-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
  justify-items: center;
  align-items: center;
}


.policy-card {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.policy-header {
  text-align: center;
  margin-bottom: 20px;
}

.policy-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.policy-content {
  flex: 0.75;
  margin-right: 20px;
}


.policy-icon {
  flex: 0.25;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  box-sizing: border-box;

  img {
  max-width: 120px;
  height: auto;
  position: absolute;
  bottom:  5px;
  right: 20px;
  }
}

.favorites-icon {
  position: absolute;

  bottom: 20px;
  left: 23px;
  cursor: pointer;
  background-color:#ffffff;
  border: none;
  color: #F50071;

}

.favorites-icon:hover {
  color: #14A0E6;
}

//BIG CARD WITH GENERAL POLICY

.card {
  width: 100%;
  max-width: 750px;
  height: 470px;
  padding: 20px;
  border-radius: 40px;
  background-color : #14A0E6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  h2, p {
    color: white;
    text-align: left;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

  }
}

.card-section {
  margin-bottom: 10px;
}

.policy-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 0;
  padding: 0;
  margin-top: 20px;

  h2 {
  flex: 1;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  }
  p {
    flex: 1;
    text-align: left;
    color: white;
    margin: 0;
  }
}

#favorites-icon-for-blue-page {
  background-color: #14A0E6;
  color: white;
}

#favorites-icon-for-blue-page:hover {
  color: #F50071;
}



//AIRLINE CARD WITH LOGO AND CONTACT INFO

.info-card  {
  width: 100%;
  max-width: 400px;
  height: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  img {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
  }
}

.airline-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
  }
  a {
    color: #14A0E6;
    text-decoration: none;
  }
}

.airline-logo img {
  width: 250px;
}

.flex-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: 40px;
}

.flex-container > :first-child {
  justify-self: start; /* Align the first element to the start (left) */
}

// CAROUSEL

.carousel-item {
  margin-bottom: 50px;
}

// RESPONSIVENESS
@media (max-width: 1310px) {
  .flex-container {
    grid-template-columns: 1fr;
    padding: 10px 20px;
  }

  .info-card {
    padding: 10px 20px;
    justify-content: center; /* Center horizontally */
    align-self: center;
    width: 100%;
    max-width: 100%;
  }

  .card {
    max-width: 100%;

  }


  .policy-container {
    grid-template-columns: 1fr 1fr;
  }

  .policy-card {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .policy-container {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 600px) {
  .policy-card {
    width: 100%;
    height: auto;
  }

  .favorites-icon {
    right: 30px;
    top: 25px;
    bottom: unset;
    left: unset;
  }

  .policy-icon img {
    max-width: 80px;
  }

}
