// SMALL CARD FOR CATEGORIES

.policy-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
}


.policy-card {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.policy-header {
  text-align: center;
  margin-bottom: 20px;
}

.policy-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.policy-content {
  flex: 0.75;
  margin-right: 20px;
}


.policy-icon {
  flex: 0.25;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  position: relative;
  box-sizing: border-box;

  img {
  max-width: 120px;
  height: auto;
  }
}

//BIG CARD WITH GENERAL POLICY

.card {
  width: 100%;
  padding: 20px;
  border-radius: 40px;
  background-color : #14A0E6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  h2, p {
    color: white;
  }
}

.card-section {
  margin-bottom: 10px;
}

.policy-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
 h2 {
  flex: 1;
  text-align: left;
  color: white;
  margin: 0;
  }
  p {
    flex: 1;
    text-align: right;
    color: white;
    margin: 0;
  }
}


//AIRLINE CARD WITH LOGO AND CONTACT INFO

.info-card  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  img {
    max-width: 100px;
    height: auto;
    border-radius: 20px;
  }
}

.flex-container {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 40px;
  justify-items: stretch;
  padding: 10px 60px;
  justify-content: space-between;
  margin-bottom: 40px;
}
