<div class="form-container form-small">

<h2>Welcome <%= @user.email %>!</h2>
<p>Edit my details: <%= link_to "Edit", edit_user_registration_path %></p>
<p><strong>My favorites</strong></p>

<ul class='list-group'>
  <% @user.favorites.each do |favorite| %>
    <li class="list-group-item">
    <%= favorite.policy.title %>
    <%= button_to 'Delete', airline_policy_favorite_path(favorite.policy.airline, favorite.policy, favorite), method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

</div>
