<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a class="footer-link" href="<%= about_path %>">About Us</a>
      <a class="footer-link" href="<%= questions_path %>">Contact</a>
      <p>© 2024 BaggageBuddy. All rights reserved.</p>
    </div>
    <div class="footer-social">
      <a class="social-link" href="#"><i class="fa-brands fa-facebook"></i></a>
      <a class="social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
      <a class="social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
  </div>
</footer>
