<nav class="navbar">
  <div class="navbar-content">
    <div class="logo">
      <a href="<%= root_path %>">
              <%= image_tag 'logo/logo1.png', alt: 'logo' %>
      </a>
    </div>
    <ul class="nav-links">
      <li class="nav-item">
        <a class="button" href="#"><i class="fa-solid fa-user"></i> Log in</a>
      </li>
    </ul>
  </div>
</nav>
