<div class="pages-about-container">

  <div class="div-1 rounded">
    <h2>About Us</h2>
    <p>
      Welcome to BaggageBuddy – your ultimate travel companion for hassle-free airline baggage information!
      At BaggageBuddy, we understand that traveling can be stressful, especially when it comes to figuring out baggage policies for different airlines.
      That's why we created this app – to provide travelers with a simple, reliable way to check baggage allowances, fees, and restrictions, all in one place.
    </p>
  </div>

  <div class="div-1 rounded">
    <h2>What We Offer</h2>
    <ul>
      <li>
        <p>
          Comprehensive Baggage Information: Access detailed baggage policies for a wide range of airlines, including carry-on and checked luggage allowances, fees, and size/weight restrictions.
        </p>
      </li>
      <li>
        <p>
          Real-Time Updates: Stay informed with the latest updates on airline baggage rules to ensure you're always prepared for your trip.
        </p>
      </li>
      <li>
        <p>
          User-Friendly Interface: Our app is designed with simplicity in mind, making it easy to navigate and find the information you need quickly.
        </p>
      </li>
      <li>
        <p>
          Customized for Your Journey: Enter your flight details and get tailored baggage information specific to your airline and destination.
        </p>
      </li>
    </ul>
  </div>

  <div class="div-1 rounded">
    <h2>Our Story</h2>
    <p>
      BaggageBuddy was born out of a passion for travel and a desire to simplify the often-confusing world of airline baggage policies.
      We want to make air travel smoother by eliminating the guesswork when it comes to baggage rules.
      Whether you're a frequent flyer or a first-time traveler, BaggageBuddy is here to ensure you have all the information you need for a stress-free journey.
    </p>
  </div>

  <div class="div-2-0 rounded">
    <h2>Our Team</h2>
    <div class="team-flex">
      <div class="div-2-1 rounded">
        <%= image_tag 'Team1.jpeg', alt: 'Our Team' %>
        <strong><p>Fan Yang</p></strong>
      </div>
      <div class="div-2-1 rounded">
        <%= image_tag 'Team2.jpeg', alt: 'Our Team' %>
        <strong><p>Aleksandra Stoliarova</p></strong>
      </div>
      <div class="div-2-1 rounded">
        <%= image_tag 'Team3.jpeg', alt: 'Our Team' %>
        <strong><p>Katalin Kolonics</p></strong>
      </div>
    </div>
  </div>

</div>
