<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

 <%= form_with url: airlines_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter airline name"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
