.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #F2F2F2;
  text-decoration: none;
}

.navbar-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #002D73;
  font-size: 16px;
}

.nav-links a:hover {
  color: #14A0E6;
}
.login-button {
  background-color: #DFE5ED;
  border-radius: 40px;
  padding: 10px 30px;
  text-align: center;
}

.logo img {
  max-width: 200px;
  width: 100%;
  height: 60px;
  object-fit: cover;
  padding-left: 20px;
}
