.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 230px;
  width: 100%;
  background-color: #ebeff4;
  // box-sizing: border-box;
  // position: relative;
  // overflow: visible; /* Allow overflow so the image can extend outside */
  // margin: 0;
  position: absolute; /* Absolute positioning */
  bottom: 100px; /* Adjust this value to control how far it extends from the bottom */
  left: 0;
  right: 0;
  overflow: visible;
}

.subscribe-content {
  flex: 1;
}

.subscribe-form {
  margin-top: 10px;
}

.subscribe-form input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 40px;
}

.subscribe-form button {
  padding: 10px 20px;
  background-color: #14A0E6;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.subscribe-image {
  flex-shrink: 0;
  position: relative; /* Position it relative to handle negative margins or absolute positioning */
  margin-right: -50px; /* Adjust this value to control how far the image extends outside */
}

.subscribe-image img {
  max-width: 475px;
  max-height: 300px;
  width: 100%;
  height: auto;
  display: block;
}
