h1 {
  font-weight: bold;
  font-size: 33px;
  color: #002D73;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #002D73;
}

p {
  font-size: 16px;
  color: #002D73;
  font-size: 16px;
  margin: 0;
}
